@page
@model simple_crud_asp_net_core_web_app_razor.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>

        <div class="col-6">
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td width="50%">@category.Name</td>
                    <td width="30%">@category.DisplayOrder</td>
                </tr>
            }
        </tbody>
    </table>
</div>